body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ca5e1b;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.feature {
    text-align: center;
    width: 30%;
}

.cta {
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px 0;
}

footer {
    background-color: #14c561;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
